<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>

		<add name="azure" connectionString="Server=tcp:r0802173.database.windows.net,1433;Initial Catalog=DB_ProjectWPF;Persist Security Info=False;User ID=admin2ITF;Password=Password2ITF;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

		<add name="local" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=localDatabase2TI;
         Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;
         ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>

	</connectionStrings>
</configuration>